@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0px;
}

body {
  font-family: "Inter";
}
.sg {
  font-family: "Space Grotesk";
}
.inter {
  font-family: "Inter";
}

.tgrad {
  background-color: red;
  background-image: linear-gradient(90deg, #4ab1f1, #566cec, #d749af, #ff7c51);

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.bgrad {
  background: linear-gradient(
    92.33deg,
    rgba(255, 255, 255, 0.86) -14.47%,
    rgba(98, 164, 241, 0.79) 11.69%,
    rgba(127, 75, 238, 0.77) 52.2%,
    rgba(21, 127, 251, 0.75) 100.25%
  );
  border-radius: 8px;
}
body::before {
  // animation: grain 10s steps(10) infinite;
  background-image: url("../images/image.webp");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 300%;
}

// @keyframes grain {
//   0%,
//   100% {
//     transform: translate(0, 0);
//   }
//   10% {
//     transform: translate(-5%, -10%);
//   }
//   20% {
//     transform: translate(15%, 5%);
//   }
//   30% {
//     transform: translate(7%, -25%);
//   }
//   40% {
//     transform: translate(-5%, 25%);
//   }
//   50% {
//     transform: translate(-15%, 10%);
//   }
//   60% {
//     transform: translate(15%, 0%);
//   }
//   70% {
//     transform: translate(0%, 15%);
//   }
//   80% {
//     transform: translate(3%, 35%);
//   }
//   90% {
//     transform: translate(-10%, 10%);
//   }
// }

.wrapper {
  width: 100%;
  height: 100px;
  position: absolute;
  margin: auto;
  overflow: hidden;
}
.box {
  height: 40px;
  position: absolute;
  background: transparent;
}
.boxes {
  position: relative;
}

.link-grad {
  @apply text-transparent bg-gradient-to-r from-[#DC79FF] to-[#256BFA] bg-clip-text;
}
